body {
   margin: 0;
   font-size: 16px;
   background-image: url(../photo/block.png);
   background-repeat: initial;
 }

a {
  color: #E4EEFF;
  font-weight: bold;Signup
  text-decoration: none !important;
  transition: color 0.4s;
}

a:hover {
  color: #04001B;
}

a:visited {
  text-decoration: none !important
}

h2 {
  font-family: Palatino;
  color: #E4EEFF
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}
1234
.top-bar-left {
  float: left;
  font-size: 1.5em;
  font-family: Palatino;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
  font-family: Palatino;
}

.card-heading {
  padding: 16px;
}


.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
}

.success-message {
  padding: 0 16px;
  color: green;
}
.answer{
  margin: 5px;
}
.sub {
  padding: 10px;
}

.ourButtons {
  margin: 10px;
}
.newButton{
  width:90%;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      margin: 0;
      font-size: 16px;
      background-image: url(../photo/block.png);
      background-size: initial;
      background-repeat: repeat;
      background-position: center;
    }
    .container {
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
}
